# shellcheck shell=bash

sudo pacman -S --noconfirm --needed \
	tailscale \
	audacity \
	firefox \
	transmission-gtk \
	vlc

yay -Sy --noconfirm --needed \
	bitwarden \
	bitwarden-cli \
	ghostty \
	google-chrome \
	jetbrains-toolbox \
	mullvad-vpn \
	obsidian \
	signal-desktop \
	vscodium \
	zen-browser \
	zoom
