# shellcheck shell=bash

sudo pacman -S --noconfirm --needed \
	7zip \
	chezmoi \
	curl \
	fzf \
	git \
	htop \
	just \
	jq \
	ripgrep \
	starship \
	tree \
	wget \
	zsh \
	zsh-syntax-highlighting

yay -Sy --noconfirm --needed \
	jless
