#!/usr/bin/env bash

# shellcheck disable=SC1091
source "{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/install.zsh"

if ! os_is_darwin; then
	log_debug "Not darwin, skipping"
	exit 0
fi

brew autoupdate delete &>/dev/null
brew autoupdate start \
	43200 \
	--upgrade \
	--cleanup \
	--immediate \
	--sudo
