#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
# manifest hash: {{ include "private_dot_config/chezmoi-corytheboyd/manifest.json" | sha256sum }}

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/install.zsh"

if ! os_is_archlinux; then
	log_debug "Not archlinux, skipping"
	exit 0
fi

log_info "Bootstrapping archlinux..."

function install_yay() {
	if has_program yay; then
		return 0
	fi
	(
		sudo pacman -Sy --noconfirm --needed git base-devel
		sudo pacman -Rns --noconfirm rust 2>/dev/null || true
		git clone https://aur.archlinux.org/yay-bin.git
		cd yay-bin || exit 1
		makepkg -si --noconfirm
	)
}

log_info "Updating system..."
sudo pacman -Sy --noconfirm archlinux-keyring
sudo pacman -Syu --noconfirm

log_info "Installing yay..."
install_yay

# TODO install dependencies by implementing similar Brewfile --cleanup behavior with our own state file.

log_info "Installing packages..."
#{{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
# shellcheck disable=SC2154
{
	sudo pacman -Sy --noconfirm #{{ $manifest.archlinux.packages.pacman | join " " }}
	yay -Sy --noconfirm         #{{ $manifest.archlinux.packages.yay | join " " }}
}

log_info "Installing oh-my-zsh..."
install_omz

log_info "Installing VSCodium extensions..."
install_vscode_extensions
