#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
# #{{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
# manifest hash: #{{ $manifest.archlinux | toRawJson | sha256sum }}
# chezmoi configFile hash: #{{ include .chezmoi.configFile | sha256sum }}
# chezmoi-corytheboyd shell: #{{ range $file := glob (printf "%s/private_dot_config/chezmoi-corytheboyd/shell/**/*.zsh.tmpl" .chezmoi.sourceDir) }}#{{ include $file | sha256sum }}#{{ end }}

# shellcheck disable=SC1091
{
	source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"
	source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"
}

if ! os_is_archlinux; then
	log_debug "Not archlinux, skipping"
	exit 0
fi

function install_yay() {
	if has_program yay && yay --version &>/dev/null; then
		log_debug "yay already installed"
		return 0
	fi
	(
		sudo pacman -Sy --noconfirm --needed git base-devel
		sudo pacman -Rns --noconfirm rust 2>/dev/null || true
		git clone https://aur.archlinux.org/yay-bin.git
		cd yay-bin || exit 1
		makepkg -si --noconfirm
	)
}

log_info "Bootstrapping archlinux..."

log_info "Updating system..."
sudo pacman -Syu --noconfirm

function enable_multilib() {
	if grep -q '^\[multilib\]' /etc/pacman.conf; then
		log_debug "multilib already enabled"
		return 0
	fi
	log_info "Enabling multilib repository..."
	sudo sed -i '/^#\[multilib\]/{N;s/#\[multilib\]\n#Include/[multilib]\nInclude/}' /etc/pacman.conf
}

log_info "Enabling multilib..."
enable_multilib

log_info "Installing yay..."
install_yay
