#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -euo pipefail

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

if ! os_is_darwin; then
	exit 0
fi

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/bootstrap.sh"

install_brew
install_omz
