#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -e

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/install.zsh"
# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"

if ! os_is_archlinux; then
	log_debug "Not archlinux, skipping"
	exit 0
fi

log_info "Bootstrapping archlinux..."

function install_yay() {
	if has_program yay; then
		return 0
	fi
	(
		sudo pacman -Sy --noconfirm --needed git base-devel
		sudo pacman -Rns --noconfirm rust 2>/dev/null || true
		git clone https://aur.archlinux.org/yay-bin.git
		cd yay-bin || exit 1
		makepkg -si --noconfirm
	)
}

log_info "Updating system..."
sudo pacman -Syu --noconfirm

log_info "Installing yay..."
install_yay

log_info "Installing system packages..."
chezmoi_corytheboyd_install_system

log_info "Set default shell to ZSH"
sudo chsh -s "$(command -v zsh)"

log_info "Installing oh-my-zsh..."
install_omz
