#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
#{{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
# manifest hash: #{{ $manifest.archlinux.packages | toRawJson | sha256sum }}

# shellcheck disable=SC1091
{
	source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"
	source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"
}

if ! os_is_archlinux; then
	log_debug "Not archlinux, skipping"
	exit 0
fi

if [[ "${SKIP_INSTALL_DEPENDENCIES:-0}" == "1" ]]; then
	log_warn "SKIP_INSTALL_DEPENDENCIES=1 Skip installing dependencies"
	exit 0
fi

if ! yay --version &>/dev/null; then
	log_info "yay is broken (libalpm mismatch), reinstalling..."
	(
		tmpdir=$(mktemp -d)
		sudo pacman -Sy --noconfirm --needed git base-devel
		git clone https://aur.archlinux.org/yay-bin.git "$tmpdir/yay-bin"
		cd "$tmpdir/yay-bin" || exit 1
		makepkg -si --noconfirm
	)
fi

log_info "Installing packages..."
sudo pacman -Rns --noconfirm rust 2>/dev/null || true
# shellcheck disable=SC2154
{
	sudo pacman -Sy --noconfirm #{{ $manifest.archlinux.packages.pacman | join " " }}
	yay -Sy --noconfirm         #{{ $manifest.archlinux.packages.yay | join " " }}
}
