#!/usr/bin/env bash
# {{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
# manifest hash: {{ $manifest.darwin | toRawJson | sha256sum }}

# shellcheck disable=SC1091
{
	source "{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"
	source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"
}

if ! os_is_darwin; then
	log_debug "Not darwin, skipping"
	exit 0
fi

log_info "Installing packages..."
brew bundle \
	--file=- \
	--upgrade \
	--zap \
	--cleanup \
	<< 'EOF'
{{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
{{- range concat $manifest.darwin.homebrew.taps (dig "homebrew" "taps" (list) .) | uniq | sortAlpha }}
tap "{{ . }}"
{{- end }}

{{- range concat $manifest.darwin.homebrew.brews (dig "homebrew" "brews" (list) .) | uniq | sortAlpha }}
brew "{{ . }}"
{{- end }}

{{- range concat $manifest.darwin.homebrew.casks (dig "homebrew" "casks" (list) .) | uniq | sortAlpha }}
cask "{{ . }}"
{{- end }}
EOF
