#!/usr/bin/env bash

chezmoi re-add "{{ .chezmoi.homeDir }}/.config/VSCodium/User/settings.json"
chezmoi re-add "{{ .chezmoi.homeDir }}/.local/share/JetBrains/Toolbox/.settings.json"
chezmoi re-add "{{ .chezmoi.homeDir }}/.config/mise/config.toml"
chezmoi re-add "{{ .chezmoi.homeDir }}/.config/rbw/config.json"
