#!/usr/bin/env bash
# Brewfile desktop hash: #{{ include "private_dot_config/chezmoi-corytheboyd/darwin/desktop/Brewfile" | sha256sum }}
# Brewfile development hash: #{{ include "private_dot_config/chezmoi-corytheboyd/darwin/development/Brewfile" | sha256sum }}
# Brewfile system hash: #{{ include "private_dot_config/chezmoi-corytheboyd/darwin/system/Brewfile" | sha256sum }}
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -e

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/install.zsh"
# shellcheck disable=SC1091
source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"

if ! os_is_darwin; then
	log_debug "Not darwin, skipping"
	exit 0
fi

log_info "Bootstrapping darwin..."

log_info "Installing oh-my-zsh..."
install_omz

chezmoi_corytheboyd_install_system
chezmoi_corytheboyd_install_development
chezmoi_corytheboyd_install_desktop

brew autoupdate start 43200 --upgrade --cleanup --immediate --sudo
