#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
# Brewfile hash: {{ include (joinPath .chezmoi.homeDir ".config/chezmoi-corytheboyd/Brewfile") | sha256sum }}

set -euo pipefail

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

if ! os_is_darwin; then
	exit 0
fi

cd "$(chezmoi_corytheboyd_path)/darwin"
brew bundle

#{{- if eq .chezmoi.os "darwin" }}
# shellcheck disable=SC2206
{
	eval "$(brew shellenv)"
	fpath=($HOMEBREW_PREFIX/share/zsh/site-functions $fpath)
}
#{{- else if eq .chezmoi.os "linux" }}
####{{- if eq .chezmoi.osRelease.id "arch" }}
# archlinux
####{{- else }}
# linux other
####{{- end }}
#{{- else }}
# other
#{{- end }}
