#!/usr/bin/env bash

# shellcheck disable=SC1091
{
	source "{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"
	source "$(chezmoi_corytheboyd_path)/shell/lib/logger.zsh"
}

log_info "Re-adding externally managed chezmoi files..."

chezmoi re-add "{{ .chezmoi.homeDir }}/.config/VSCodium/User/settings.json"
chezmoi re-add "{{ .chezmoi.homeDir }}/.local/share/JetBrains/Toolbox/.settings.json"
chezmoi re-add "{{ .chezmoi.homeDir }}/.config/mise/config.toml"
chezmoi re-add "{{ .chezmoi.homeDir }}/.config/rbw/config.json"
