#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
# Brewfile hash: {{ include (joinPath .chezmoi.homeDir ".config/chezmoi-corytheboyd/Brewfile") | sha256sum }}

set -euo pipefail

# shellcheck disable=SC1091
source "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd/shell.sh"

if ! os_is_archlinux; then
	exit 0
fi

cd "$(chezmoi_corytheboyd_path)/archlinux"

echo TODO...
