#!/usr/bin/env bash

set -euo pipefail
cd "$(dirname "$0")/.."

# use custom chezmoi delimiters that are shell script syntax compatible
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

function os_is_darwin() {
	local os
	os="$(chezmoi data --format=json | jq -r '.chezmoi.os')"
	[[ "$os" == "darwin" ]]
}

function has_program() {
	local program=$1
	command -v "$program" &>/dev/null
}

function install_omz() {
	if has_program omz; then
		return 0
	fi
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
}

install_omz
