# shellcheck shell=bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

function chezmoi_corytheboyd_path() {
	echo "#{{ .chezmoi.homeDir }}/.config/chezmoi-corytheboyd"
}

function chezmoi_corytheboyd_update() {
	(
		cd "$(chezmoi_corytheboyd_path)" || return 1
		mise run update
	)
}

function chezmoi_corytheboyd_edit() {
	(
		chezmoi cd
		"$EDITOR" . || return
		chezmoi_corytheboyd_update
	)
}

function chezmoi_corytheboyd_install_system() {
	if os_is_darwin; then
		(
			# shellcheck disable=SC2164
			cd "$(chezmoi_corytheboyd_path)/darwin/system"
			brew bundle
		)
	fi

	if os_is_archlinux; then
		sudo pacman -S --noconfirm --needed \
			7zip \
			chezmoi \
			curl \
			fzf \
			git \
			htop \
			just \
			jq \
			ripgrep \
			starship \
			tree \
			wget \
			zsh \
			zsh-syntax-highlighting

		yay -Sy --noconfirm --needed \
			jless
	fi
}

function chezmoi_corytheboyd_install_development() {
	if os_is_darwin; then
		(
			# shellcheck disable=SC2164
			cd "$(chezmoi_corytheboyd_path)/darwin/development"
			brew bundle
		)
	fi

	if os_is_archlinux; then
		sudo pacman -S --noconfirm --needed \
			direnv \
			docker \
			docker-buildx \
			docker-compose \
			lazygit \
			neovim \
			shfmt

		yay -Sy --noconfirm --needed \
			just-lsp
	fi
}

function chezmoi_corytheboyd_install_desktop() {
	if os_is_darwin; then
		(
			# shellcheck disable=SC2164
			cd "$(chezmoi_corytheboyd_path)/darwin/desktop"
			brew bundle
		)
	fi

	if os_is_archlinux; then
		sudo pacman -S --noconfirm --needed \
			tailscale \
			audacity \
			firefox \
			transmission-gtk \
			vlc

		yay -Sy --noconfirm --needed \
			bitwarden \
			bitwarden-cli \
			ghostty \
			google-chrome \
			jetbrains-toolbox \
			mullvad-vpn \
			obsidian \
			signal-desktop \
			vscodium \
			zen-browser \
			zoom
	fi
}

function chezmoi_corytheboyd() {
	# shellcheck disable=SC2030,SC2031
	typeset +f |
		grep -E '^(foo_|chezmoi_corytheboyd_)' |
		fzf --border rounded --height ~40% |
		read -r cmd && $cmd
}
