# shellcheck shell=bash
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

function install_brew() {
	if has_program brew; then
		return 0
	fi
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

function install_omz() {
	if has_directory "#{{ .chezmoi.homeDir }}/.oh-my-zsh"; then
		return 0
	fi
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
}

function install_vscode_extensions() {
	#{{- $manifest := include "private_dot_config/chezmoi-corytheboyd/manifest.json" | fromJson }}
	#{{- range $manifest.vscode.extensions }}
	codium --install-extension "#{{ . }}"
	#{{- end }}
}
