# shellcheck shell=bash

function manifest_darwin_brewfile_brews() {
	if ! has_program dasel; then
		brew install dasel
	fi
	local manifest_file
	manifest_file="{{ .chezmoi.sourceDir }}/manifest.yaml"

	cat "$manifest_file"
	return

	# shellcheck disable=SC2016
	cat "$manifest_file" |
		dasel -i yaml \
			'darwin.homebrew.brews.map("brew \"" + $this + "\"").join("; ")'
}
