{{ if eq .chezmoi.os "darwin" -}}
{
  "credsStore": "osxkeychain",
  "currentContext": "colima",
  "cliPluginsExtraDirs": [
    "/opt/homebrew/lib/docker/cli-plugins"
  ],
  "plugins": {
    "-x-cli-hints": {
      "enabled": "true"
    }
  }
}
{{ else -}}
{
  "plugins": {
    "-x-cli-hints": {
      "enabled": "true"
    }
  }
}
{{ end -}}